body,
html {
   background: linear-gradient(
         300.73deg,
         rgba(0, 0, 0, 0.2) 33.37%,
         rgba(255, 0, 0, 0.2) 203.16%
      ),
      linear-gradient(118.27deg, #131313 56.12%, #940404 289.7%);

   color: #fff;
}

.wrapper {
   max-width: 1040px;
   min-height: 100dvh;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
