body,
html {
   background: linear-gradient(
         300.73deg,
         rgba(0, 0, 0, 0.2) 33.37%,
         rgba(255, 0, 0, 0.2) 203.16%
      ),
      linear-gradient(118.27deg, #131313 56.12%, #940404 289.7%);

   color: #fff;
}

.wrapper {
   max-width: 1040px;
   min-height: 100dvh;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.info {
   display: flex;
   flex-direction: column;
   gap: 24px;
}

#welcome {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 600;
   font-size: 32px;
   line-height: 60px;
}

#event-name {
   display: flex;
   flex-direction: column;

   font-family: "Mulish";
   font-style: normal;
   font-weight: 200;
   font-size: 48px;
   line-height: 60px;
   /* or 125% */

   letter-spacing: -2px;
}

#event-name strong {
   font-weight: 700;
   font-size: 72px;
   letter-spacing: 4px;
   color: #f00;
}

#desc {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 100%;
   max-width: 512px;
}

#desc strong {
   font-weight: 500;
   color: #f00;
}

.local-date {
   display: flex;
   align-items: center;
   gap: 16px;
   margin-top: 16px;
   margin-bottom: 8px;
}

.local-date span {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 100%;
   /* identical to box height, or 16px */

   letter-spacing: 0.15px;
}

.local-date .local-date-item {
   display: flex;
   align-items: center;
   gap: 4px;
}

#disclaimer {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 100%;
   /* identical to box height, or 14px */

   color: #808080;
}

/* Form Related */

#signup {
   margin-top: 16px;
   background: #1c1717;
   border-radius: 16px;
   width: 512px;

   padding: 24px;
   display: flex;
   flex-direction: column;
   gap: 16px;
}

#signup .input-wrapper {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

#signup .input-wrapper label {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 100%;
   /* identical to box height, or 16px */

   letter-spacing: 0.5px;

   color: #ffffff;
}

#signup .input-wrapper input,
#signup .input-wrapper select {
   appearance: none;
   background: #221c1c;
   border-radius: 8px;
   border: none;
   padding-inline: 16px;
   height: 40px;
   outline: none;

   font-family: "Montserrat";
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 100%;
   /* identical to box height, or 14px */

   letter-spacing: 0.25px;

   color: #fff;
}

#signup .input-wrapper input:focus {
   outline: 2px solid #332d2d;
}

#signup .input-wrapper input::placeholder {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 100%;
   /* identical to box height, or 14px */

   letter-spacing: 0.25px;

   color: #666666;
}

#signup #form-title {
   font-family: "Montserrat";
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 100%;
   /* identical to box height, or 20px */

   letter-spacing: 0.15px;

   color: #ffffff;
}

button[type="submit"] {
   border: none;
   outline: none;
   cursor: pointer;

   align-self: center;

   background: #ff0000;
   border-radius: 8px;

   width: 160px;
   height: 48px;

   font-family: "Montserrat";
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 100%;
   /* identical to box height, or 14px */

   letter-spacing: 1.25px;
   text-transform: uppercase;

   color: #ffffff;
}

button[type="submit"]:hover {
   background: #f44;
}

button[type="submit"]:active {
   background: #f66;
}
